<ion-content class="login-content">
  <div class="center-content">
    <!-- Agregar la imagen arriba de la página -->
    <img src="assets/912e922e-e732-4d6e-b15e-ae22fff6e69a.png&quot" alt="Invernadero" class="invernadero-image">
    <p class="invernadero-description">El control y monitoreo de tu invernadero</p>
  </div>

  <form class="login-form">
    <ion-item class="input-field">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" name="username" required></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" class="login-button">Iniciar sesión</ion-button>
  </form>

  <p class="invernadero-description">Sistema de Monitoreo y Control del Invernadero</p>
</ion-content>
