<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Dias</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Lunes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Martes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Miercoles</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
      <ion-accordion value="four">
        <ion-item slot="header" color="light">
          <ion-label>Jueves</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">forth Content</div>
      </ion-accordion>
      <ion-accordion value="five">
        <ion-item slot="header" color="light">
          <ion-label>Viernes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">fife Content</div>
      </ion-accordion>
      <ion-accordion value="six">
        <ion-item slot="header" color="light">
          <ion-label>Sabado</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">six Content</div>
      </ion-accordion>
      <ion-accordion value="seven">
        <ion-item slot="header" color="light">
          <ion-label>Domingo</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">seven Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>
    <ion-icon name="flower-outline"></ion-icon>
    <ion-toggle>Activar ventilador</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="rainy"></ion-icon>
    <ion-toggle>Activar aspersores</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="archive-outline"></ion-icon>
    <ion-toggle>Activar cortina</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="camera-outline"></ion-icon>
    <ion-toggle>Ver camara termica</ion-toggle>
  </ion-item>
  
</ion-list>

<ion-card class="center-card">
  <ion-card-header>
    <ion-card-title>Camara termica</ion-card-title>
  </ion-card-header>
  <img alt="Silhouette of mountains" src="assets/camara.jpeg" class="center-image" />
</ion-card>




  
  
</ion-content>


