ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-card {
    text-align: center; /* Centra el contenido */
  }
  
  .custom-content {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .custom-icon {
    font-size: 26px;
    border: 1px solid #FF3B30;
    border-radius: 10%;
    background-color: #FF3B30;
    color: light;
    margin-bottom: 5px; /* Espacio entre el icono y el título */
  }
  
  .custom-title {
    font-size: 16px; /* Ajusta el tamaño del título según tus preferencias */
  }
  
  