<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <h1 style="font-size: 40px;">Bienvenido <br> usuario</h1>
      </ion-col>
      <ion-col size="4">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" style="padding-top: 22%;">
            </ion-col>
            <ion-col size="6">
              <ion-avatar class="ion-padding">
                <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="centrado">
  <ion-button id="open-modal" class="centrado small">Buscar sección de plantas <ion-icon name="search" style="font-size: 30px;"></ion-icon></ion-button>
</div>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Busca tu sección</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-item button="true" detail="false" (click)="modal.dismiss()">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Item 1</ion-label>
            </ion-item>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Sección de plantas 2</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Sección de plantas 3</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Sección de plantas 4</h2>
              <p>CEO</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Sección de plantas 5</h2>
              <p>CEO</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div style="text-align: center;">
    <h1>Sección de plantas 1</h1>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" shape="round">
          Anterior
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round">
          Siguiente
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <div><h1>Temperatura ambiental</h1></div>
      <ion-progress-bar value="0.42" color="primary"></ion-progress-bar>
      <br>
      <div><h1>Humedad ambiental</h1></div>
      <ion-progress-bar value="0.42" color="primary"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <div style="padding-left: 3%;">
    <h1>Categorias</h1>
  </div>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <div>
                <ion-icon name="egg" color="light" style="font-size: 26px;border: 1px solid #1e90ff; border-radius: 10%; background-color: #1e90ff;"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-icon name="thermometer" color="light" style="font-size: 26px;border: 1px solid #FF3B30; border-radius: 10%; background-color: #FF3B30;"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-icon name="sunny" color="light" style="font-size: 26px;border: 1px solid #FFAB1E; border-radius: 10%; background-color: #FFAB1E;"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-icon name="rainy" color="light" style="font-size: 26px;border: 1px solid #5AC8FA; border-radius: 10%; background-color: #5AC8FA;"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
