<ion-content>
<ion-header>
  <ion-toolbar style="color: aliceblue;" color="success">
    <ion-title>Bienvenido Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="viewProfile()">
        <ion-avatar class="ion-padding">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <!--- Seccion del estado general del invernadero -->
  <ion-card>
   <ion-card-header>
     <ion-card-title>Estado del Invernadero <ion-icon name="checkmark-circle" color="success"></ion-icon></ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <!-- Temperatura Ambiental -->
     <div class="info-item">
       <h2>Temperatura Ambiental</h2>
       <div class="promedio-container">
         <ion-progress-bar [value]="promedioTemperatura" color="primary"></ion-progress-bar>
         <span class="promedio">{{ (promedioTemperatura * 100).toFixed(0) }}</span><span class="unidad promedio">°C</span>
       </div>
     </div>
 
     <!-- Humedad Ambiental -->
     <div class="info-item">
       <h2>Humedad Ambiental</h2>
       <div class="promedio-container">
         <ion-progress-bar [value]="promedioHumedad" color="primary"></ion-progress-bar>
         <span class="promedio">{{ (promedioHumedad * 100).toFixed(2) }}</span><span class="unidad promedio">%</span>
       </div>
     </div>
 
     <!-- Luminosidad -->
     <div class="info-item">
       <h2>Luminosidad</h2>
       <div class="promedio-container">
         <!-- Reemplaza "promedioLuminosidad" con la variable correspondiente -->
         <ion-progress-bar [value]="promedioLuminosidad" color="primary"></ion-progress-bar>
         <!-- Multiplica por 100 si el valor está en formato decimal -->
         <span class="promedio">{{ (promedioLuminosidad * 100).toFixed(2) }}</span><span class="unidad promedio">lx</span>
       </div>
     </div>
 
     <!-- Precipitación -->
     <div class="info-item">
       <h2>Precipitación</h2>
       <div class="promedio-container">
         <!-- Reemplaza "promedioPrecipitacion" con la variable correspondiente -->
         <ion-progress-bar [value]="promedioPrecipitacion" color="primary"></ion-progress-bar>
         <!-- Multiplica por 100 si el valor está en formato decimal -->
         <span class="promedio">{{ (promedioPrecipitacion * 100).toFixed(2) }}</span><span class="unidad promedio">mm</span>
       </div>
     </div>
   </ion-card-content>
 </ion-card>
 


  <!--- Boton de buscar seccion de plantas -->
  <div class="centrado">
     <ion-button id="open-modal" class="centrado small" style=" color: aliceblue;" color="success">
        Buscar sección de plantas 
        <ion-icon name="search" style="font-size: 30px;"></ion-icon>
     </ion-button>
  </div>
  <!-- Modal -->
<ion-modal #modal trigger="open-modal" color="success">
   <ng-template>
     <ion-content>
       <ion-toolbar>
         <ion-title>Busca tu sección</ion-title>
         <ion-buttons slot="end">
           <ion-button color="light" (click)="modal.dismiss()">Cerrar</ion-button>
         </ion-buttons>
       </ion-toolbar>
       <ion-list>
         <!-- Contenido estático del modal con nombres de verduras para invernadero -->
         <ion-item>
           <ion-avatar slot="start">
             <ion-img src="https://png.pngtree.com/png-clipart/20230920/original/pngtree-tomato-icon-logo-design-vector-illustration-pattern-cute-illustration-vector-png-image_12453238.png"></ion-img>
           </ion-avatar>
           <ion-label>
             <h2>Jitomate</h2>
           </ion-label>
         </ion-item>
         <ion-item>
           <ion-avatar slot="start">
             <ion-img src="https://png.pngtree.com/png-clipart/20201208/original/pngtree-line-drawing-carrot-clipart-png-image_5569791.jpg"></ion-img>
           </ion-avatar>
           <ion-label>
             <h2>Zanahoria</h2>
           </ion-label>
         </ion-item>
         <ion-item>
           <ion-avatar slot="start">
             <ion-img src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-broccoli-png-image_4983791.jpg"></ion-img>
           </ion-avatar>
           <ion-label>
             <h2>Brócoli</h2>
           </ion-label>
         </ion-item>
         <!-- Puedes agregar más items según sea necesario -->
       </ion-list>
     </ion-content>
   </ng-template>
 </ion-modal>
 
  <!--- Seccion de plantas -->
  <div style="text-align: center;">
     <h1>Sección de Jitomates</h1>
  </div>
  <ion-card>
     <!--- Seccion de categorias en base al estado del invernadero -->
  </ion-card>
  <div style="padding-left: 3%;">
     <h1>Categorias</h1>
  </div>
  <div>
     <ion-grid fixed>
        <ion-row>
           <ion-col size="6">
            <ion-card (click)="irARuta()" class="custom-card">
               <ion-card-content class="custom-content">
                 <ion-icon name="water-outline" class="custom-icon" color="primary"></ion-icon>
                 <ion-card-title class="custom-title">Humedad</ion-card-title>
                 <h5>{{ registros.length }} registros</h5>
               </ion-card-content>
             </ion-card>
           </ion-col>
           <ion-col size="6">
            <ion-card (click)="irARuta()" class="custom-card">
               <ion-card-content class="custom-content">
                 <ion-icon name="thermometer" class="custom-icon" color="danger"></ion-icon>
                 <ion-card-title class="custom-title">Temperatura</ion-card-title>
                 <h5>{{ registros.length }} registros</h5>
               </ion-card-content>
             </ion-card>
             
             
           </ion-col>
        </ion-row>
     </ion-grid>
     <ion-grid fixed>
        <ion-row>
           <ion-col size="6">
            <ion-card (click)="irARuta()" class="custom-card">
               <ion-card-content class="custom-content">
                 <ion-icon name="sunny" class="custom-icon" color="warning"></ion-icon>
                 <ion-card-title class="custom-title">Luminosidad</ion-card-title>
                 <h5>{{ registros.length }} registros</h5>
               </ion-card-content>
             </ion-card>
           </ion-col>
           <ion-col size="6">
            <ion-card (click)="irARuta()" class="custom-card">
               <ion-card-content class="custom-content">
                 <ion-icon name="rainy" class="custom-icon" color="secondary"></ion-icon>
                 <ion-card-title class="custom-title">Precipitacion</ion-card-title>
                 <h5>{{ registros.length }} registros</h5>
               </ion-card-content>
             </ion-card>
           </ion-col>
        </ion-row>
     </ion-grid>
  </div>
</ion-content>