ion-modal {
    --height: 50%;
    --border-radius: 16px;

  }
  
  ion-modal::part(backdrop) {

    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #32db64;
    --color: white;
  }
/* Ejemplo de uso en un componente Ionic */
.success {
  color: rgb(0, 128, 0); /* Color de texto */
  --ion-color-success: rgb(0, 128, 0); /* Color principal de éxito */
  --ion-color-success-rgb: 0, 128, 0; /* También puedes definir el valor RGB por separado */
}

  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-card {
    text-align: center; 
  }
  
  .custom-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .custom-icon {
    font-size: 26px;
    border-radius: 10%;
    color: light;
    margin-bottom: 5px; 
  }
  
  .custom-title {
    font-size: 16px; 
  }
  .promedio-container {
    display: flex;
    align-items: center;
  }
  
  .promedio {
    margin-left: 10px; 
    font-weight: bold;
    color: #3498db; 
  }
  .unidad {
    margin-left: 1px; 
  }
  